<%- include("partials/header") -%>
<h1>Your Posts</h1>
<main style="padding-bottom:100px;">
<% for(let i=0;i<posts.length;i++){ %>
  <div id="post" style="margin-bottom: 20px;padding:10px;border-radius:20px;">
    <h2 id="title">
      <a href="/post/<%= posts[i]._id %>"><%= posts[i].title %></a>
      <a id="delete" href="/delete-post?postId=<%= posts[i]._id %>"> Delete</a>
    </h2>
    <li>
      <%= posts[i].description.substring(0,200)+"..." %> 
      <a href="/post?postId=<%= posts[i]._id %>"> Read More</a>
    </li>
    <br />
  </div>
  <% } %>
</main>
  <%- include("partials/footer") -%>
